.sidebar {
    flex: 2.4;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    background-color: black;
    color: white;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 12px; /* Decrease the width to make it smaller */
    height: 1px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #b8b0b0;
    border-radius: 10px;
    height: 2px; /* Adjust the border-radius for a more compact appearance */
}

/* Adjust the height of the scrollbar */
.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar-Icon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
